<app-nav-bar></app-nav-bar>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Cargando datos...</p>
</ngx-spinner>
<div class="container">
  <div class="separator" *ngIf="showButton">
    <button type="button" (click)="buttonGetData()" class="btn btn-secondary btn-lg btn-block">Obtener datos</button>
  </div>  
  <div *ngIf="show" class="separator">
      <div>
          <p>Numeros ordenados:<mark>{{numbersOrder}}</mark></p>
      </div>
      <table class="table table-hover table-bordered">
        <thead>
            <tr>
            <th scope="col">Nº</th>
            <th scope="col">Number</th>
            <th scope="col">Quantity</th>
            <th scope="col">First Position</th>
            <th scope="col">Last Position</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let currency of arrayFilter;"[ngClass]="{'resaltado1': currency.quantity>=2,'resaltado2': currency.quantity===1,'resaltado3': currency.quantity<=0}">
            <th scope="row">{{currency.item}}</th>
                <td>{{currency.number}}</td>
                <td>{{currency.quantity}}</td>
                <td>{{currency.first}}</td>
                <td>{{currency.last}}</td>
            </tr>
        </tbody>
    </table>
  </div>
</div>
