<app-nav-bar></app-nav-bar>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Cargando datos...</p>
</ngx-spinner>
<div class="container">
  <div class="separator" *ngIf="showButton">  
    <button type="button" (click)="buttonGetData()" class="btn btn-secondary btn-lg btn-block">Obtener datos</button>
  </div> 
  <div *ngIf="show" class="separator">
      <table class="table table-responsive table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Nº</th>
            <th scope="col">A</th>
            <th scope="col">B</th>
            <th scope="col">C</th>
            <th scope="col">D</th>
            <th scope="col">E</th>
            <th scope="col">F</th>
            <th scope="col">G</th>
            <th scope="col">H</th>
            <th scope="col">I</th>
            <th scope="col">J</th>
            <th scope="col">K</th>
            <th scope="col">L</th>
            <th scope="col">M</th>
            <th scope="col">N</th>
            <th scope="col">Ñ</th>
            <th scope="col">O</th>
            <th scope="col">P</th>
            <th scope="col">Q</th>
            <th scope="col">R</th>
            <th scope="col">S</th>
            <th scope="col">T</th>
            <th scope="col">U</th>
            <th scope="col">V</th>
            <th scope="col">W</th>
            <th scope="col">X</th>
            <th scope="col">Y</th>
            <th scope="col">z</th>
            <th scope="col">Suma numericos</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let currency of array;index as i">
            <th scope="row">{{i+1}}</th>
                <td>{{getCurrency(currency,"a")}}</td>
                <td>{{getCurrency(currency,"b")}}</td>
                <td>{{getCurrency(currency,"c")}}</td>
                <td>{{getCurrency(currency,"d")}}</td>
                <td>{{getCurrency(currency,"e")}}</td>
                <td>{{getCurrency(currency,"f")}}</td>
                <td>{{getCurrency(currency,"g")}}</td>
                <td>{{getCurrency(currency,"h")}}</td>
                <td>{{getCurrency(currency,"i")}}</td>
                <td>{{getCurrency(currency,"j")}}</td>
                <td>{{getCurrency(currency,"j")}}</td>
                <td>{{getCurrency(currency,"l")}}</td>
                <td>{{getCurrency(currency,"m")}}</td>
                <td>{{getCurrency(currency,"n")}}</td>
                <td>{{getCurrency(currency,"ñ")}}</td>
                <td>{{getCurrency(currency,"o")}}</td>
                <td>{{getCurrency(currency,"p")}}</td>
                <td>{{getCurrency(currency,"q")}}</td>
                <td>{{getCurrency(currency,"r")}}</td>
                <td>{{getCurrency(currency,"s")}}</td>
                <td>{{getCurrency(currency,"t")}}</td>
                <td>{{getCurrency(currency,"u")}}</td>
                <td>{{getCurrency(currency,"v")}}</td>
                <td>{{getCurrency(currency,"w")}}</td>
                <td>{{getCurrency(currency,"x")}}</td>
                <td>{{getCurrency(currency,"y")}}</td>
                <td>{{getCurrency(currency,"z")}}</td>
                <td>{{getTotal(currency)}}</td>
            </tr>
        </tbody>
    </table>
  </div>
</div>
